* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #F5F5F5;
}

ul {
    display: flex;
    justify-self: center;
    column-gap: 20px;
}

li {
    list-style: none;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.start-button {
    display: inline-block;
    background-color: #42F099;
    border-radius: 24px;
    border-style: none;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.start-button:hover {
    background-color: #11d070;
}

.start-button:active {
    background-color: #2fb67b;
    box-shadow: rgba(0, 0, 0, 0.2);
}

/* 2ページ目 */
#input-information-screen-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    gap: 20px;
}

#input-information-screen-1 h2 {
    font-size: 36px;
}

#metabolism-info p {
    font-size: 15px;
}

.measure-metabolic-container {
    width: 80%;
    align-self: center;
}

.information-form-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.label-header {
    display: flex;
    align-items: center;
}

.form-label-required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 36px;
    display: inline-block;
    text-align: center;
    background: #ff6c6c;
    color: #fff;
    font-size: 10px;
}

.age-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
    max-width: 120px;
}

.weight-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
    max-width: 120px;
}

.height-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
    max-width: 120px;
}

.sex-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
    max-width: 170px;
}

.form-item-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-left: 1em;
    padding-right: 1em;
    height: 30px;
    /* flex: 1; */
    width: 100%;
    max-width: 100px;
    font-size: 18px;
}

.form-item-select {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-left: 1em;
    padding-right: 1em;
    height: 30px;
    /* flex: 1; */
    width: 100%;
    max-width: 170px;
    font-size: 15px;
}

.measurement-button {
    margin-top: 50px;
    display: inline-block;
    background-color: #42F099;
    border-radius: 24px;
    border-style: none;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.measurement-button:hover:not(:disabled) {
    background-color: #11d070;
    cursor: pointer;
}

.measurement-button:active:not(:disabled) {
    background-color: #2fb67b;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.next-button {
    margin-top: 50px;
    display: inline-block;
    background-color: #00c3ff;
    border-radius: 24px;
    border-style: none;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.next-button:hover:not(:disabled) {
    background-color: #1c9fd0;
    cursor: pointer;
}

.next-button:active:not(:disabled) {
    background-color: #227da2;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.user-information-button-container  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-conatiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-information-result-conainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.result-box {
  flex: 1;
  min-width: 250px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}